.parent{
  background-color: greenyellow;
  padding: 20px;
  width:500px;
}
.child1{
  background-color: rgb(216, 100, 57);
  padding: 10px;
}
.child2{
  background-color: rgb(236, 199, 33);
  padding: 10px;
}
h3{
  margin: 0px;
}